body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* container */
.container{
    margin: 0 auto;
    max-width: 945px;
    height: 100%;
}

/* nav */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
}

.nav_link{
    font-weight: bold;
    color: #828282;
    font-size: 18px;
    text-decoration: none;
    margin: 0;
    transition: .2s linear;
}

.nav_link:hover{
    font-weight: bold;
    color: #000;
    scale: 1.03;
    font-size: 18px;
    text-decoration: none;
    margin: 0;
}

hr{
    height: 0px;
    border: 1px solid #828282;
}

/* me */
.name_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:39px 0 30px 0;
}

.name{
   font-size: 47px;
   margin: 0;
}

.who{
    font-size: 18px;
    font-weight: normal;
}

/* language */
.ru{
    visibility: hidden;
}
.eng{
    visibility: visible;
}

.language{
    display: flex;
    transform: rotate(-90deg);
}

.language_ru{
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: #828282;
}
.language_ru:hover{
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    transition: .2s linear;
    color: #000;
    cursor: pointer;
}
.language_ru:active{
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    transition: .2s linear;
    color: rgb(31, 13, 13); 
}

.language_eng{
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: #828282;
}
.language_eng:hover{
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    transition: .2s linear;
    color: #000;
    cursor: pointer;
}
.language_eng:active{
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    transition: .2s linear;
    color: rgb(31, 13, 13);
}

.denis_pht{
    margin: 0 auto 105px;
}

/* about */
.about{
    padding-top: 120px;
    height: 506px;
    background: #f6f6f6;
    text-align: center;
    margin-bottom: 91px;
}

.about{
    padding-top: 120px;
    height: 506px;
    background: #f6f6f6;
    text-align: center;
    margin-bottom: 91px;
}

.about_title{
    font-weight: bold;
    font-size: 34px;
    margin: 0 0 20px 0;
}

.about_txt{
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 50px 0;
}
.about_txt:last-child{
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

.nabt{
    margin-bottom: 45px;
}

.about_wrap {
    display: flex;
    margin-top: 45px;
}

.continue {
    display: block;
}

.about_skills_wrap {
    display: flex;
    margin-top: 45px;
}

.about_txt_wrap {
    display: block;
    margin-left: 65px;
}


.about_img {
    display: block;
}

.p {
    margin-bottom: 23px;
}

.p-3 {
    margin-top: 50px;
}

.link {
    text-decoration: underline;
    color: #000;
}

/* skills */
.skills{
    text-align: center;
}

.skills_title{
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 69px 0;
}

.skills_sub{
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 83px 0;
}

.programs_wrap{
    max-width: 450px;
    margin: 0 auto 111px;
}

.programs{
    display: flex;
    justify-content: space-between;
}

.prog-1{
    margin-right: 105px;
}

.prog_img{
    margin: 0 0 24px 0;
}

.prog_about{
    font-weight: bold;
    font-size: 14px;
    color: #828282;
    margin: 0 0 40px 0;
}

.stars-fig{
    margin-top: 17px;
}

/* portfolio */
.portfolio{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 103px 0 0 0;
    background: #f6f6f6;
    text-align: center;
    padding-bottom: 106px;
}

.potfolio_title{
    margin: 0 0 47px 0;
    font-weight: bold;
    font-size: 34px;
}

.portfolio_photo{
    text-align: center;
    width: 935px;
    margin-bottom: 45px;
}

.portfolio_link{
    display: block;
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 99px 0;
    color: #070707;
    transition: .15s linear;
}
.portfolio_link:hover{
    display: block;
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 99px 0;
    color: #c4c4c4;
}

.portfolio_imgs_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.portfolio_img {
    width: 423px;
}
.portfolio_img-3, .portfolio_img-8, .portfolio_img-9 {
    width: 900px;
}

.img_content {
    text-align: center;
    margin: 0 auto 45px;
}

.img_content .portfolio_link {
    margin: 23px 0;
}


/* Contacts */
.btns_wrapper{
    max-width: 590px;
    max-height: 240px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cname {
    font-size: 47px;
    margin: 75px 0 45px;
    text-align: center;
}

.contacts_link {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    align-items: center;
    width: 270px;
    height: 60px;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 30px;
    transition: .2s ease-in-out;
    animation: animBtns1 2s;
}

.contacts_link:hover {
    scale: 1.05;
}

.contacts_link .nav_link {
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    margin: 0;
    animation: animBtns2 2s;
}

.contacts_icon {
    margin-right: 10px;
    animation: animBtns2 2.5s;
}

.a {
    border-radius: 10px;
    background: #339AF0;
}
.b {
    border-radius: 10px;
    background: #004CBD;
}
.c {
    border-radius: 10px;
    background: #F26F3C;
}
.d {
    border-radius: 10px;
    background: #BF1717;
}
.e {
    border-radius: 10px;
    background: #6A52FC;
}
.f {
    border-radius: 10px;
    background: #36007A;
}

/* footer */
footer{
    margin: 0 auto;
    text-align: center;
    padding: 114px 0 123px 0;
}

.contacts{
    font-weight: bold;
    font-size: 34px;
    margin: 0 0 20px 0;
}

.subt{
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 29px 0;
    color: #070707;
}

.btn{
    display: inline-block;
    text-align: center;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    margin: 0 0 55px 0;
    text-decoration: none;
    transition: .2s linear;
    padding: 14px 44px;
}
.btn:hover{
    background: #000;
    color: rgb(139, 139, 139);
    font-weight: bold;
    font-size: 18px;
    padding: 14px 44px;
    border-radius: 50px;
    margin: 0 0 55px 0;
    text-decoration: none;
    cursor: pointer;
    scale: 1.1;
}

.social{
    display: flex;
    width: 342px;
    justify-content: space-between;
    margin: 0 auto 20px auto;
}

.cr{
    color: #828282;
    font-weight: normal;
    font-size: 14px;
}

.ccr{
    color: #828282;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin-top: 45px;
}

.icons{
    opacity: 60%;
    text-decoration: none;
    transition: all .2s ease;
}

.icons:hover{
    opacity: 100%;
    text-decoration: none;
    scale: 1.1;
}

@keyframes animBtns1 {
    0% {
        opacity: 0%;
       height: 0px;
    }

    20%{
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        height: 60px;
    }
}

@keyframes animBtns2 {
    0% {
        opacity: 0%;
    }

    50% {
       opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}



/* Медиазапросы */
@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 123.1%;
    }
    
    .denis_pht {
        width: 768px;
        margin: 0 auto;
    }

    .portfolio_photo{
        text-align: center;
        width: 768px;
        margin-bottom: 45px;
    }

    .portfolio{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 103px 0 0 0;
        background: #f6f6f6;
        text-align: center;
        padding-bottom: 30px;
    }

    .about_txt{
        font-size: 14px;
        margin-bottom: 23px;
    }
    .about_txt:last-child {
        font-size: 14px;
        margin-bottom: 0;
    }
    .p-3 {
        margin-top: 23px;
    }
    
    .nabt {
        margin-bottom: 25px;
    }

    .ccr {
        color: #828282;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        margin: 45px auto 0;
    }

    .portfolio_img-3, .portfolio_img-8, .portfolio_img-9 {
        width: 768px;
    }
    .portfolio_img {
        width: 768px;
    }
}